<article>
  <header>
    <abs-header [title]="title"></abs-header>
  </header>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
    <nav>
      <abs-nav [links]="links$ | async"></abs-nav>
    </nav>
    <aside>
      <small>Aprender, programar, disfrutar, repetir.</small>
    </aside>
  </main>
  <footer>
    <small>Una iniciativa de <a href="https://www.linkedin.com/in/albertobasalo/"
         target="blank">Alberto Basalo</a> para programadores y arquitectos de software.</small>
  </footer>
</article>
